import React from "react"
import { withRouter } from "react-router-dom"
import style from "./style/{{ properCase name }}Style.less"

const {{ properCase name }} = props => {
  const { history } = props
  return <div className={style.container}>content</div>
}

export default withRouter({{ properCase name }})
